.footer {
    background-color: var(--default-color);
    color: #fff;
    padding: 1em;
    text-align: center;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li {
    margin: 0 1em;
}

.social_list li:hover {
    color: var(--detail-color);
}

.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copy {
    margin-top: 2em;    
}

.copy span {
    font-weight: bold;
    color: var(--detail-color)
}