.form {
    width: 100%;
    margin: 2em 0;
}

.form input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
    
}

.form input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}

.submit_container{
    display: flex;
    justify-content: space-around;
}